:root {
  --bg-white: #ffffff;
  --bg-green-primary: rgb(5 150 105 / var(--tw-bg-opacity, 1)) !important;
}
.ant-card-body {
  padding: 16px !important;
}

.ant-form-item-label label {
  height: auto !important;
}

.main-container {
  min-height: 100vh;
}
.my-button {
  background-color: rgb(5 150 105 / var(--tw-bg-opacity, 1)) !important;
  color: white !important;
}
.my-checkbox {
  color: white !important;
}
.my-divider {
  background-color: white !important;
}
